@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

$primary: hsla(201, 19%, 25%, 1);
$background: $primary;
$background-disabled: hsla(201, 19%, 10%, 1);
$secondary: hsla(233, 6%, 73%, 1);
$secondary-light: hsla(233, 6%, 95%, 1);
$success: hsla(116, 15%, 80%, 1);
$danger: hsla(15, 80%, 70%, 1);

