@import './variables';

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

body {
  background-color: $background;
}

:focus {
  outline: none !important;
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-header {
  @extend .bg-secondary;
}

a {
  color: $secondary;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: white;
}
